@use "../../styles/variables"as *;
@use "../../styles/mixins"as *;

.partnersSection {
    width: 100%;
    padding-top: 5rem 0;
    padding-bottom: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .625rem;
}

.partnerBanner {
    position: relative;
    width: 45%;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
    color: $light-color;
}

.partnerBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partnerOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 85.04%);
    opacity: 0.9;
}

.partnerOverlay h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 8px;
}

.partnerOverlay p {
    font-size: 16px;
    margin-bottom: 16px;
    max-width: 200px;
}

.btnSecondary {
    display: inline-block;
    background-color: $warning-color;
    color: $dark-color;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1.28px;
}

@media (max-width: 768px) {
    .partnerBanner {
        width: 100%;
        max-width: 400px;
        height: 250px;
    }

    .partnerOverlay h2 {
        font-size: 28px;
    }
}